.container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.value-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.stats-container {
    min-width: 35%;
    align-items: center;
}
